@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

// base variables
$darkGrey: #333;
$smoke: rgb(197, 205, 223);

body {
    background: $darkGrey;
    color: $smoke;
}